<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/plans">Plans</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Sing-In</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/billing">Billing</a>
        </li>
      </ul>
      <span class="navbar-text"> Navbar text with an inline element </span>
    </div>
  </div>
</nav>
<div id="container" class="mainPage">
  <router-outlet></router-outlet>
</div>
