<div class="content mat-elevation-z8">
  preview selection
  <section class="pricing-section">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-xl-5 col-lg-6 col-md-8">
          <div class="section-title text-center title-ex1">
            <h2>Pricing Tables</h2>
          </div>
        </div>
      </div>
      <!-- Pricing Table starts -->
      <div class="row">
        <div *ngFor="let plan of plansList" class="col-md-4">
          <div class="price-card">
            <h2>{{plan.planName}}</h2>
            <p>ADD A DESCRIPTION TO THE DB FOR THIS</p>
            <p class="price">
              <span>{{plan.price}}</span
              >/ Month
            </p>
            <ul class="pricing-offers">
              <li>
                Have {{plan.deviceLimit}} devices on your plan all at once!
              </li>
            </ul>
            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn btn-primary btn-mid"
              data-toggle="modal"
              data-target="#exampleModal"
            >
              Launch demo modal
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">...</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- <div>
    <mat-table class="center" [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let plan"> {{plan?.planName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="deviceLimit">
        <mat-header-cell *matHeaderCellDef> Device Limit </mat-header-cell>
        <mat-cell *matCellDef="let plan"> {{plan?.deviceLimit}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Price</mat-header-cell>
        <mat-cell *matCellDef="let plan"> {{plan?.price}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div> -->

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Device Limit</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody *ngFor="let plan of plansList">
      <tr>
        <td>{{plan.planName}}</td>
        <td>{{plan.deviceLimit}}</td>
        <td>{{plan.price}}</td>
      </tr>
    </tbody>
  </table>
</div>
