<div class="content mat-elevation-z8">
  <!---------------------Drop Down---------------------------->
  <!-- <div class="dropdown">
    <a
      class="btn btn-secondary dropdown-toggle"
      href="#"
      role="button"
      id="dropdownMenuLink"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Dropdown link
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li>
        <a class="dropdown-item" href="#" *ngFor="let phone of phoneNumberList">
          {{phone.phoneNumber}}</a
        >
      </li>
    </ul>
  </div> -->
  <!---------------------Drop Down---------------------------->
  <section class="pricing-section">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-xl-5 col-lg-6 col-md-8">
          <div class="section-title text-center title-ex1">
            <h2>Our Devices!</h2>
          </div>
        </div>
      </div>

      <!---------------------Devices Table---------------------------->
      <div class="container" id="main-container">
        <div class="row">
          <div *ngFor="let device of devicesList" class="col-md-4">
            <div class="price-card">
              <h2>{{device.make}} {{device.model}}</h2>
              <img
                src="../../assets/SamsungGalaxyPic.jpg"
                *ngIf="device.model === 'Galaxy'"
              />
              <img
                src="../../assets/Iphone13Pic.jpg"
                *ngIf="device.model === '13'"
              />
              <img
                src="../../assets/Pixel6Pic.jpg"
                *ngIf="device.model === '6'"
              />
              <img
                src="../../assets/SamsungZFlipPic.jpg"
                *ngIf="device.model === 'ZFlip'"
              />
              <img
                src="../../assets/Pixel5Pic.jpg"
                *ngIf="device.model === '5'"
              />
              <img
                src="../../assets/Iphone12Pic.jpg"
                *ngIf="device.model === '12'"
              />

              <button
                [disabled]="numDevices >= deviceLimit"
                class="btn btn-primary btn-lg"
                (click)="onOpenModal(device, 'add')"
                style="
                  font-size: 1.6rem;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                Add Now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!---------------------Active Devices Table---------------------------->
  <div class="contain">
    <div class="card">
      <div class="card-header"><b>Active Devices</b></div>
      <div class="card-body">
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th>Make</th>
              <th>Model</th>
              <th>Phone Number</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngFor="let currentDevice of currentDevicesList">
            <tr>
              <td>{{currentDevice.make}}</td>
              <td>{{currentDevice.model}}</td>
              <td>{{(currentDevice?.phoneNumbers?.phoneNumber)}}</td>
              <td>
                <button
                  (click)="onOpenModal(currentDevice, 'edit')"
                  class="btn btn-primary badge rounded-pill text-bg-primary"
                >
                  Edit
                </button>
                <button
                  (click)="onOpenModal(currentDevice, 'delete')"
                  class="btn btn-danger badge rounded-pill text-bg-danger float-end"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!---------------------Add Device Modal---------------------------->
<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" style="max-height: 80%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Are you sure you want to add this Device?
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addFormGroup" #addForm="ngForm">
          <div class="form-group">
            <label for="make">Make</label>

            <input
              readonly
              formControlName="make"
              class="form-control"
              ngModel="{{ addDevice?.make }}"
              type="text"
              name="make"
              class="form-control"
              id="make"
              placeholder="Make"
              required
            />
          </div>
          <div class="form-group">
            <label for="model">Model</label>
            <input
              readonly
              formControlName="model"
              ngModel="{{ addDevice?.model }}"
              type="text"
              name="model"
              class="form-control"
              id="model"
              placeholder="Model"
              required
            />
          </div>
          <div formGroupName="phoneNumbers">
            <div class="form-group">
              <label for="phoneNumbers">Phone Number</label>

              <!-- <select formControlName="phoneNumber">
                <option>{{nullValue}}</option>
                <option *ngFor="let phone of phoneNumberList">
                  <ng-container *ngIf="phone?.phoneNumber">
                    {{phone?.phoneNumber}}
                  </ng-container>
                </option>
              </select> -->

              <input
                [(ngModel)]="addFormGroup"
                nullValue
                [class.is-invalid]="
                  addFormGroup.get('phoneNumbers.phoneNumber').invalid &&
                  addFormGroup.get('phoneNumbers.phoneNumber').touched
                "
                formControlName="phoneNumber"
                class="form-control"
                type="text"
                name="phoneNumbers"
                class="form-control"
                id="phoneNumbers"
                placeholder="phoneNumbers"
                required
              />
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              id="add-plan-form"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              (click)="onAddDevice(addForm.value)"
            >
              Add
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!---------------------edit Device Modal---------------------------->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" style="max-height: 80%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Device</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editFormGroup" #editForm="ngForm">
          <input
            type="hidden"
            class="form-control"
            formControlName="id"
            ngModel="{{ editDevice?.id }}"
            name="id"
            id="id"
            placeholder="id"
          />
          <div class="form-group">
            <label for="make">Make</label>
            <input
              formControlName="make"
              class="form-control"
              ngModel="{{ editDevice?.make }}"
              type="text"
              name="make"
              id="make"
              placeholder="Make"
              required
            />
          </div>
          <div class="form-group">
            <label for="model">Model</label>
            <input
              formControlName="model"
              ngModel="{{ editDevice?.model }}"
              type="text"
              name="model"
              class="form-control"
              id="model"
              placeholder="Model"
              required
            />
          </div>

          <div formGroupName="phoneNumbers">
            <input
              type="hidden"
              formControlName="id"
              class="form-control"
              name="id"
              id="id"
              ngModel="{{ editDevice?.phoneNumbers?.id}}"
              placeholder="id"
            />
            <div class="form-group">
              <label for="phoneNumbers">Phone Number</label>
              <!-- <select formControlName="phoneNumber">
                <option>{{nullValue}}</option>
                <option *ngFor="let phone of phoneNumberList">
                  <ng-container *ngIf="phone?.phoneNumber">
                    {{phone?.phoneNumber}}
                  </ng-container>
                </option>
              </select> -->
              <input
                formControlName="phoneNumber"
                [class.is-invalid]="
                  editFormGroup.get('phoneNumbers.phoneNumber').invalid &&
                  editFormGroup.get('phoneNumbers.phoneNumber').touched
                "
                class="form-control"
                type="text"
                ngModel="{{ editDevice?.phoneNumbers?.phoneNumber}}"
                name="phoneNumbers"
                id="phoneNumbers"
                placeholder="phoneNumbers"
                required
              />
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              id="edit-plan-form"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              (click)="onEditDevice(editForm.value)"
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!---------------------Delete Devices Modal---------------------------->
<div
  class="modal fade"
  id="deleteDevicesModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" style="max-height: 80%">
    <div class="modal-content" id="deleteModalContent">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Device</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to delete your
          {{ deleteDevice?.make }} {{ deleteDevice?.model }}?
        </p>

        <div class="modal-footer">
          <button
            type="button"
            id="delete-plan-form"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            No
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            (click)="onDeleteCurrentDevice(deleteDevice?.id)"
          >
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!---------------------Error---------------------------->
<ng-container *ngIf="open_error">
  <div
    class="alert alert-danger d-flex alert-dismissible fade show"
    role="alert"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="currentColor"
      class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
      viewBox="0 0 16 16"
      role="img"
      aria-label="Warning:"
    >
      <path
        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
      />
    </svg>
    <strong>That phone number already exists! &nbsp;</strong> Please use a
    different number or you can choose one later!
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
</ng-container>
